<section class="about-page">
  <header class="page-header">
    <h1>About Us</h1>
  </header>

  <article>
    <p>Plants Plants Plants Plants Plants Plants Plants Plants Plants Plants Plants Plants Plants Plants Plants Plants</p>
    <p>Plants Plants Plants Plants Plants Plants Plants Plants Plants Plants Plants Plants Plants Plants Plants Plants</p>
  </article>

</section>